    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button menu="menu-content"></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Home page 
        </ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/login">
            <ion-icon slot="end" name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-content>
      <ion-slides>
         <ion-slide  *ngFor="let item of questionData; let idx = index"  >
          <ion-card (swipe)="swipeEvent($event)">
            <ion-card-header>  
              <ion-card-subtitle>Question Number {{idx+1}}</ion-card-subtitle>  
              </ion-card-header>
            <ion-card-content>  
              <img src="data:image/png;base64,{{item.image_data}}"/>
              <ion-list>
                <ion-radio-group [(ngModel)]="userAnswer">
                  <ion-list-header>
                    <ion-label>Your Answer</ion-label>
                  </ion-list-header>
              
                  <ion-item>
                    <ion-label>A</ion-label>
                    <ion-radio slot="start" value="A" checked></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>B</ion-label>
                    <ion-radio slot="start" value="B"></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>C</ion-label>
                    <ion-radio slot="start" value="C"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>D</ion-label>
                    <ion-radio slot="start" value="D"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-card-content>  
           <ion-button (click)="onSave(idx)">
             Save
           </ion-button>
          </ion-card>
          </ion-slide>
      </ion-slides>
      <ion-item>
        <ion-label>To save your data please login </ion-label>
       <ion-button (click)="onSubmit()" *ngIf="(authService.isAuthenticate | async )"  >
        Submit
       </ion-button>
      </ion-item>
      
  <!-- thid is skelton text -->
  
  <ion-list *ngIf="!(questionData)" >
    <ion-list-header>
      <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
 
  </ion-content>
